/* 
    Lazy CSS
    Author: Jason Bai 
*/

/* Flexible Layout */
.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

/* Text Alignment */
.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.verticalCenter {
  vertical-align: middle;
}

/* Margins & Paddings */

.m0 {
  margin: 0;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}

.mt0 {
  margin-top: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}

.mr0 {
  margin-right: 0;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}

.mb0 {
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}

.ml0 {
  margin-left: 0;
}
.ml0 {
  margin-left: 0;
}
.ml0 {
  margin-left: 0;
}
.ml15 {
  margin-left: 15px;
}
.ml0 {
  margin-left: 0;
}
